[Unit]
Description=Unified MCP Python Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/unifed/mcp/agent_backend

ExecStart=/home/ubuntu/unifed/mcp/agent_backend/.venv/bin/python app.py

Restart=always
RestartSec=5

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target